
<div class="container col-md-8 minevist" >


<div class="card mb-3 minevist" style=" background-color: transparent; ">
  <center><img class="card-img-top imagen " src="/img/Bienve.gif" alt="Card image cap"></center>
  <div class="card-body">
    <h5 class="card-title">BIENVENIDO</h5>
    <hr class="new1">
     
    <a href="/" class=" active typeboton" role="button" aria-pressed="true">Cerrar Sesion</a>

  </div>
</div>
</div>
