
<div class="container col-md-8 mine" style="margin-top: 8%;">
  <img src="/img/fond1.png" alt="fondo1" class=" fond">

  <div class="container col-md-5 mine2">
       <img src="/img/Logo.jpg" alt="Logo" class="rounded-circle mx-auto d-block m-4 logo">

   <center> <h4 class="textmine">Login</h4></center>

  </div>

  <form action="/" method="POST" >
    <div class="container col-md-6" style="margin-top: 4%; ">
      <div class="form-row  ">
        <div class="form-group col-md-12">
          <input type="email" class="form-control mine"  name="correo" placeholder="Correo" autofocus >
           <span type="text" class="material-symbols-sharp-login" id="icon" name="correo"><i class="material-symbols-sharp" >mail</i></span>  
        </div>
      </div>  
      <div class="form-row">
        <div class="form-group col-md-12">
            <input type="password" class="form-control mine" placeholder="Contraseña"  name="password" >
            <span type="text" class="material-symbols-sharp-login" id="icon" name="correo"><i class="material-symbols-sharp">lock</i></span>
        </div>
      </div>   
       <div class="form-row " style="margin-top: 3%;">
       <div class="form-group col-md-12  " >
         <a href="/users/register" class=" active " style="color: #929292;" role="button" aria-pressed="true"><center>¡Registrarse!</center></a>
        </div>
      </div>
     <div class="form-row" style="margin-top: 3%;">
       <div class="form-group col-md-12" >
          <button type="submit" class="btn btn-primary btn-lg formlogin" >ENTRAR</button>
        </div>
      </div>

    </div>
  </form>    

</div>

